name: Integration Test

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:
  test-mle:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./mle-app
    
    steps:
    - uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: mle-app/package-lock.json

    - name: Install Dependencies
      run: npm ci

    - name: Run Build
      run: npm run build

    - name: Run Unit Tests
      run: npm run test:unit

    - name: Run Integration Tests
      run: npm run test:it

  test-web:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./web-app

    steps:
    - uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: web-app/package-lock.json

    - name: Install Dependencies
      run: npm ci

    - name: Run Tests
      run: npm test
